.todo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    padding-left: 10px;
}

.todo-remove-btn{
    height: 30px;
    transition: all 0.3s;
}

svg:hover {
    color: #c3a27f;
}

.todo button{
    background: none;
    border: none;
}

.todo div{
    display: flex;
    align-items: center;
    font-size: 20px;
    background-color: #c3a27f;
    width: 80%;
    padding: 7px 30px;
    border-radius: 40px;
    font-family: cursive;
    overflow: scroll;
}

@media (max-width:500px) {
    .todo{
        margin: 20px 0px ;
    }
    .todo div{
        margin: 0px 5px 0px 0px;
    }
}